.col-2 {
    background-color:lightgray;
    align-items: center;
    text-align: center;
    display: flex;
}

.col-6 {
    background-color: lightgray;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: bold;
    
}

.col-preciovp {
    text-align: right;
}

.col-cantidad {
    text-align: center;
}

.col-codigo {
    text-align: center;
}

.col-id {
    text-align: center;
}

.table-responsive {
    background-color: lightgray;
}

.col-acciones {
    text-align: center;
}

#totalCompra {
    background-color:aquamarine;
    margin: 10px;
    outline-style:groove;
    border-radius: 2PX;
    outline-width: 2px;
}
